* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.maincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 39rem;
  width: 340px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 5px 5px 12px rgb(226, 217, 217),
    -5px -5px 15px rgb(158, 157, 157), 5px 5px 15px rgb(158, 157, 157),
    inset -5px -5px 12px rgb(226, 217, 217);
  border-radius: 30px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 50px;
  height: 10px;
  margin-top: 6px;
  background-color: rgb(17, 16, 16);
  border-radius: 20px;
}

.dot {
  margin-top: 6px;
  background-color: rgb(17, 16, 16);
  width: 8px;
  height: 8px;
  margin-left: 7px;
  border-radius: 50%;
}

.screen {
  width: 90%;
  margin-left: 18px;
  text-align: end;
  padding-top: 60px;
  padding-right: 10px;
  margin-top: 3rem;
  height: 7rem;
  outline: none;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  box-shadow: inset 5px 5px 8px 2px rgb(219, 217, 217),
    inset -5px -5px 8px 2px rgb(250, 249, 249);
}

.btns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  place-items: center;
}

button {
  position: relative;
  margin-top: 12px;
  width: 60px;
  height: 60px;
  font-size: 17px;
  font-weight: 700;
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: inset 5px 5px 10px 1px rgb(231, 229, 229),
    inset 5px -5px 12px rgb(252, 252, 252), 5px 5px 12px rgb(185, 185, 184);
}
